on:
  pull_request:
    branches:
      - "*"

jobs:
  run_tests:
    name: Running tests
    runs-on: ubuntu-22.04 # stick with older LTS release for continued debian support
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup gotestsum
        uses: gertd/action-gotestsum@v3.0.0
        with:
          gotestsum_version: 1.12.0
      - name: Run tests
        run: gotestsum --format short-verbose ./...
  run_linters:
    name: Running linters
    runs-on: ubuntu-22.04 # stick with older LTS release for continued debian support
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23.5'
          cache: false
      - name: Go lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.63.4
          args: --verbose
          # Optional: if set to true then the all caching functionality will be complete disabled,
          #           takes precedence over all other caching options.
          skip-cache: true
